@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
  --ligth-theme-background: white;
  --dark-theme-background: #2f363e;
  --letters-color: black;
}

body.dark{
  background-color: var(--dark-theme-background);
  --letters-color: #fff;
}

*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

/*======= Ligth/Dark theme*/
.checkbox{
  opacity: 0;
  position: absolute;
}

.label{
  background-color: rgba(255, 255, 255, 0.603);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  position: relative;
  height: 26px;
  width: 50px;
}

.ball{
background-color: yellow;
border-radius: 50%;
position: absolute;
top: 2px;
left: 2px;
height: 22px;
width: 22px;
transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball{
  transform: translateX(24px);
  background-color: var(--dark-theme-background);
}
i{
  font-size: 20px;
 display: flex;
}
/* ======== Home page ======= */

#site-icon{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px  solid black;
  padding: 0;
}

.games-btns{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.games-btns input{
  margin-top: 10px;
  position: relative;
}

.index-btn{
  width: 250px;
  padding: 15px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid lightgray;
}
.index-btn:hover{
  background-color: lightgray;
}
.index-btn:active{
  background-color: rgb(124, 124, 124);
}

.historic{
  text-align: center;
}

.historic input{
  margin-top: 40px;
}

/* ======= Marqueee =======*/
#scroll-container {
  overflow: hidden;
}

#scroll-text {
  transform: translateX(100%);
  animation: marquee 60s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-50%);
  }
}

.footer {
  position: relative;
}

/*======= historic =======*/
.historic-colors{
  color: var(--letters-color);
}

.historic-info-container{
  justify-content: space-between;
  display: flex;
  text-align: center;
}


.historic-game-info h3, .historic-data-info h3, .historic-players-info h3, .historic-time-info h3, .historic-winner-info h3{
  font-size: 15px;
}

.delete-history-btn{
  border-radius: 50%;
    border: 1px solid var(--dark-theme-background);
    cursor: pointer;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-history-btn i {
  font-size: 20px;
}