@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

/* ============================================= */

#site-icon{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  margin-top: 30px;
  border: 1px solid black;
}

/* Marqueee */
#scroll-container {
  overflow: hidden;
}

#scroll-text {
  transform: translateX(100%);
  animation: marquee 60s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-50%);
  }
}